<!Doctype html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<title>Demo | School</title>
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- favicon -->
	<link rel="shortcut icon" type="image/x-icon" href="img/logo/favicon.ico">
	<!-- all css here -->
	<!-- bootstrap v3.3.6 css -->
	<link href="~/Content/BespokeContents/_BespokeLayout1/css/bootstrap.min.css" rel="stylesheet" />
	<!-- meanmenu css -->
	<link href="~/Content/BespokeContents/_BespokeLayout1/css/meanmenu.min.css" rel="stylesheet" />
	<!-- style css -->
	<link href="~/Content/BespokeContents/_BespokeLayout1/style.css" rel="stylesheet" />
	<!-- modernizr css -->
	<script src="~/Content/BespokeContents/_BespokeLayout1/js/vendor/modernizr-2.8.3.min.js"></script>
</head>
<body>
	<!--[if lt IE 8]>
		<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
	<![endif]-->
	<div id="preloader"></div>
	<header class="header-one">
		<!-- Start top bar -->
		<div class="topbar-area fix hidden-xs">
			<div class="container">
				<div class="row">
					<div class="col-md-6 col-sm-6">
						<div class="topbar-left">
							<ul>
								<li><a href="#"><i class="fa fa-envelope"></i> info@Dertrix.com</a></li>
								<li><a href="#"><i class="fa fa-phone"></i> +2348023064662</a></li>
							</ul>
						</div>
					</div>
					<div class=" col-md-6 col-sm-6">
						<div class="topbar-right">
							<div class="top-social">
								<ul>
									<li><a href="#"><i class="fa fa-skype"></i></a></li>
									<li><a href="#"><i class="fa fa-pinterest"></i></a></li>
									<li><a href="#"><i class="fa fa-google"></i></a></li>
									<li><a href="#"><i class="fa fa-twitter"></i></a></li>
									<li><a href="#"><i class="fa fa-facebook"></i></a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- End top bar -->
		<!-- header-area start -->
		<div id="sticker" class="header-area hidden-xs">
			<div class="container">
				<div class="row">
					<div class="col-md-12 col-sm-12">
						<div class="row">
							<!-- logo start -->
							<div class="col-md-3 col-sm-3">
								<div class="logo">
									<!-- Brand -->
									<a class="navbar-brand page-scroll white-logo" href="index-2.html">
										<img src="img/logo/logo3.png" alt="">
									</a>
									<a class="navbar-brand page-scroll black-logo" href="index-2.html">
										<img src="img/logo/logo.png" alt="">
									</a>
								</div>
								<!-- logo end -->
							</div>
							<div class="col-md-9 col-sm-9">
								<div class="header-right-link">
									<!-- search option end -->
									<a class="s-menu" href="login.html">Login</a>
								</div>
								<!-- mainmenu start -->
								<nav class="navbar navbar-default">
									<div class="collapse navbar-collapse" id="navbar-example">
										<div class="main-menu">
											<ul class="nav navbar-nav navbar-right">
												<li>
													<a class="pages" href="index.html">Home</a>
													<ul class="sub-menu">
														<li><a href="index.html">Home 01</a></li>
														<li><a href="index.html">Home 02</a></li>
													</ul>
												</li>
												<li><a href="about.html">About us</a></li>
												<li><a href="investment.html">Investment</a></li>
												<li>
													<a class="pages" href="#">Pages</a>
													<ul class="sub-menu">
														<li><a href="index.html">team</a></li>
														<li><a href="index.html">FAQ</a></li>
														<li><a href="index.html">Reviews</a></li>
														<li><a href="index.html">Login</a></li>
														<li><a href="index.html">Register</a></li>
													</ul>
												</li>
												<li>
													<a class="pages" href="#">Blog</a>
													<ul class="sub-menu">
														<li><a href="index.html">Blog grid</a></li>
														<li><a href="index.html">Blog Sidebar</a></li>
														<li><a href="index.html">Blog Details</a></li>
													</ul>
												</li>
												<li><a href="index.html">contacts</a></li>
											</ul>
										</div>
									</div>
								</nav>
								<!-- mainmenu end -->
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- header-area end -->
		<!-- mobile-menu-area start -->
		<div class="mobile-menu-area hidden-lg hidden-md hidden-sm">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<div class="mobile-menu">
							<div class="logo">
								<a href="index.html"><img src="img/logo/logo.png" alt="" /></a>
							</div>
							<nav id="dropdown">
								<ul>
									<li>
										<a class="pages" href="index.html">Home</a>
										<ul class="sub-menu">
											<li><a href="index.html">Home 01</a></li>
											<li><a href="index.html">Home 02</a></li>
										</ul>
									</li>
									<li><a href="index.html">About us</a></li>
									<li><a href="index.html">Investment</a></li>
									<li>
										<a class="pages" href="#">Pages</a>
										<ul class="sub-menu">
											<li><a href="index.html">team</a></li>
											<li><a href="index.html">FAQ</a></li>
											<li><a href="index.html">Reviews</a></li>
											<li><a href="index.html">Login</a></li>
											<li><a href="index.html">Register</a></li>
										</ul>
									</li>
									<li>
										<a class="pages" href="#">Blog</a>
										<ul class="sub-menu">
											<li><a href="index.html">Blog grid</a></li>
											<li><a href="index.html">Blog Sidebar</a></li>
											<li><a href="index.html">Blog Details</a></li>
										</ul>
									</li>
									<li><a href="index.html">contacts</a></li>
								</ul>
							</nav>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- mobile-menu-area end -->
	</header>
	<div class="slide-area fix" data-stellar-background-ratio="0.6">
		<div class="display-table">
			<div class="display-table-cell">
				<div class="container">
					<div class="row">
						<div class="col-md-12 col-sm-12 col-xs-12">
							<!-- Start Slider content -->
							<div class="slide-content text-center">
								<h2 class="title2"></h2>
								<div class="layer-1-3">
									<a href="#" class="ready-btn left-btn"></a>
									<div class="video-content">
										<a href="https://www.youtube.com/watch?v=O33uuBh6nXA" class="video-play vid-zone">
											<i class="fa fa-play"></i>
											<span></span>
										</a>
									</div>
								</div>
							</div>
							<!-- End Slider content -->
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Start Footer Area -->
	<footer class="footer1">
		<div class="footer-area">
			<div class="container">
				<div class="row">
					<div class="col-md-5 col-sm-5 col-xs-12">
						<div class="footer-content logo-footer">
							<div class="footer-head">
								<div class="footer-logo">
									<a class="footer-black-logo" href="#"><img src="img/logo/logo.png" alt=""></a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="footer-area-bottom">
			<div class="container">
				<div class="row">
					<div class="col-md-6 col-sm-6 col-xs-12">
						<div class="copyright">
							<p>
								Copyright © 2020
								<a href="#">Dertrix</a> All Rights Reserved
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</footer>
	@RenderBody()
	<!-- End Footer area -->
	<!-- all js here -->
	<!-- jquery latest version -->
	<script src="~/Content/BespokeContents/_BespokeLayout1/js/vendor/jquery-1.12.4.min.js"></script>
	<!-- meanmenu js -->
	<script src="~/Content/BespokeContents/_BespokeLayout1/js/jquery.meanmenu.js"></script>
	<!-- main js -->
	<script src="~/Content/BespokeContents/_BespokeLayout1/js/main.js"></script>
</body>
</html>