
@model IEnumerable<Dertrix.Models.RegisteredUserOrganisation>


<table class="table table-bordered table-responsive table-condensed table-hover">
	<tr style="font-family:Trebuchet MS, Tahoma, Arial; color:#666; font-size:11px; background-color:white; border-style: groove; border-left: none; border-right:none; ">
		<th>
			Organisation Id
		</th>
		<th>
			Organisation Name
		</th>

		<th></th>
	</tr>

	@foreach (var item in Model)
	{
		<tr>
			<td>
				@Html.DisplayFor(modelItem => item.OrgId)


			</td>
			<td>
				@Html.DisplayFor(modelItem => item.OrgName)
			</td>
			@if (Session["IsParent/Guardian"] != null)
			{
				<td>
					@Html.ActionLink("Select", "PGSchCentre1", "Orgs", new { id = item.OrgId }, null)
				</td>
			}
			else
			{
				<td>
					@Html.ActionLink("Select", "StaffSchCentre1", "Orgs", new { id = item.OrgId }, null)
				</td>
			}


		</tr>
	}

</table>
