@model IEnumerable<Dertrix.Models.RegisteredUsersGroups>
<br />
<head>
	<link href="~/Main/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">

</head>

<div>
	<div>
		@{
			Html.RenderAction("AddMemberToGroup1", "RegisteredUsersGroups");
		}
	</div>
</div>
<br />
<div class="panel panel-default" style="height: 210px; width: 550px; overflow: auto; border: double;">
	<table id="myTable" class="table table-bordered table-responsive table-condensed table-hover">

			<tr style="font-family:Trebuchet MS, Tahoma, Arial; color:#666; font-size:11px; background-color:white; border-style: groove; border-left: none; border-right:none; ">
				<th>
					Full Name
				</th>
				<th>
					Role
				</th>
				<th></th>
			</tr>
			@foreach (var item in Model)
			{
				<tr>
					<td>
						@Html.DisplayFor(modelItem => item.RegisteredUser.FullName)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.RegisteredUser.SecondarySchoolUserRole.RoleName)
					</td>
					<td>
						<p><a href="#" onclick="ConfirmDelete(@item.RegisteredUserId)"> <i class="fa fa-trash" aria-hidden="true"></i></a></p>
					</td>
				</tr>
			}

	</table>
	<input type="hidden" id="hiddenRegisterUserId" />
</div>
@*Delete confirmation Modal*@
<div class="modal fade" id="myModall">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<a href="#" class="close" data-dismiss="modal">&times;</a>
				<h3 class="modal-title">Remove Staff</h3>
			</div>
			<div class="modal-body">
				<h3>Are you sure you want to remove this user from the group?</h3>
			</div>
			<div class="modal-footer">
				<a href="#" class="RegUserOrgButtonColour" data-dismiss="modal">Cancel</a>
				<a href="#" class="RegUserOrgButtonColour" onclick="DeleteRegisteredUser()">Confirm</a>
			</div>
		</div>
	</div>
</div>
<script>
	var ConfirmDelete = function (RegisteredUserId) {
		$("#hiddenRegisterUserId").val(RegisteredUserId);
		$("#myModall").modal('show');
	}
	var DeleteRegisteredUser = function () {
		var registeredUserId = $("#hiddenRegisterUserId").val();
		$.ajax({
			type: "POST",
			url: "/RegisteredUsersGroups/DeleteConfirmed/",
			data: { id: registeredUserId },
			success: function (response) {
				alert("User removed");
				$("#myModall").modal("hide");
				window.location.reload();
			}
		})
	}
</script>


