@model Zeus.Models.RegisteredUser



@if (ViewBag.RegisteredUser != null)
{


	foreach (var item in ViewBag.RegisteredUser)
	{

		<table class="table table-bordered table-striped">

			<tr>
				<td>
					Full Name
				</td>
				<td>
					@item.ContactFullName
				</td>
			</tr>

			




		</table>









	}
}











