<head>
	<link href="~/Main/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">

	@{
		var regUserOrgNavBar = Session["regUserOrgNavBar"].ToString();

	}
	<style>
	.nav-pills > li {
	float: left;
	border-style: double;
	border-color:  @regUserOrgNavBar;

	}
	</style>
</head>

<div class="container">
	<ul class="nav nav-pills" role="tablist">
		@*<li role="presentation" class="active">
			<a href="#">
				<i class="fa fa-calendar fa-2x" aria-hidden="true"></i>
				Date <span class="badge">
					@DateTime.Today.DayOfWeek.ToString() @DateTime.Today.ToShortDateString()
				</span>
			</a>
		</li>*@
		@if (Session["IsAdmin"] != null || Session["IsTester"] != null)
		{

			<li role="presentation" class="active">
				<a href="@Url.Action("AllStudents", "RegisteredUsers")">
					<i class="fa fa-users fa-2x" aria-hidden="true"></i>
					All Students <span class="badge">
						@{
							Html.RenderAction("StudentCount", "RegisteredUsers");
						}
					</span>
				</a>
			</li>
			<li role="presentation" class="active" id="AllClassCountWidget" onclick="DisplayModal2()">
				<a href="#">
					<i class="fa fa-list-ol fa-2x" aria-hidden="true"></i>
					All classes <span class="badge">
						@{
							Html.RenderAction("AllClassCount", "Class");
						}
					</span>
				</a>
			</li>
		}


		<li role="presentation" class="active" id="MyClassCountWidget" onclick="DisplayModal()">
			<a href="#">
				<i class="fa fa-list-ol fa-2x" aria-hidden="true"></i>
				My classes <span class="badge">
					@{
						Html.RenderAction("MyClassCount", "Class");
					}
				</span>
			</a>
		</li>
		<li role="presentation" class="active" id="MySubjectCountWidget" onclick="DisplayModal1()">
			<a href="#">
				<i class="fa fa-book fa-2x" aria-hidden="true"></i>
				My Subjects <span class="badge">
					@{
						Html.RenderAction("MySubjectsCount", "Subjects");
					}
				</span>
			</a>
		</li>
		<li role="presentation" class="active" id="MyclassCountWidget" onclick="DisplayModal3()">
			<a href="#">
				<i class="fa fa-exchange fa-2x" aria-hidden="true"></i>
				Jump to <span class="badge">
					@{
						Html.RenderAction("MyOrgCount", "RegisteredUserOrganisations");
					}
				</span>
			</a>
		</li>

	</ul>
</div>

@*Display MyclassList modal*@
<div class="modal fade" id="ClasslistModal">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<a href="#" class="close" data-dismiss="modal">&times;</a>
				<h3 class="modal-title">Select Class</h3>
			</div>
			<div class="modal-body" id="ClassListModalbody"></div>
			<div class="modal-footer">
				<input type="button" value="Cancel" class="RegUserOrgButtonColour" id="cancel" data-dismiss="modal" />
			</div>
		</div>
	</div>
</div>

@*Display SubjectList modal*@
<div class="modal fade" id="SubjectslistModal">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<a href="#" class="close" data-dismiss="modal">&times;</a>
				<h3 class="modal-title">Subject list</h3>
			</div>
			<div class="modal-body" id="SubjectsListModalbody"></div>
			<div class="modal-footer">
				<input type="button" value="Cancel" class="RegUserOrgButtonColour" id="cancel" data-dismiss="modal" />
			</div>
		</div>
	</div>
</div>

@*Display AllclassList modal*@
<div class="modal fade" id="AllClasslistModal">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<a href="#" class="close" data-dismiss="modal">&times;</a>
				<h3 class="modal-title">All class list</h3>
			</div>
			<div class="modal-body" id="AllClassListModalbody"></div>
			<div class="modal-footer">
				<input type="button" value="Cancel" class="RegUserOrgButtonColour" id="cancel" data-dismiss="modal" />
			</div>
		</div>
	</div>
</div>

@*Display AllOtgList modal*@
<div class="modal fade" id="AllschoolListModal">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<a href="#" class="close" data-dismiss="modal">&times;</a>
				<h3 class="modal-title">My school list</h3>
			</div>
			<div class="modal-body" id="AllschoolListModalbody"></div>
			<div class="modal-footer">
				<input type="button" value="Cancel" class="RegUserOrgButtonColour" id="cancel" data-dismiss="modal" />
			</div>
		</div>
	</div>
</div>


<script>
	var DisplayModal = function (Id) {
		$.ajax({
			type: "GET",
			url: "/Class/MyClassList",
			data: { Id: Id },
			success: function (response) {
				$("#ClassListModalbody").html(response);
				$("#ClasslistModal").modal("show");
			}
		})
	}
</script>

<script>
	var DisplayModal1 = function (Id) {
		$.ajax({
			type: "GET",
			url: "/Subjects/MySubjectsList",
			data: { Id: Id },
			success: function (response) {
				$("#SubjectsListModalbody").html(response);
				$("#SubjectslistModal").modal("show");
			}
		})
	}
</script>

<script>
	var DisplayModal2 = function (Id) {
		$.ajax({
			type: "GET",
			url: "/Class/AllClassList",
			data: { Id: Id },
			success: function (response) {
				$("#AllClassListModalbody").html(response);
				$("#AllClasslistModal").modal("show");
			}
		})
	}
</script>

<script>
	var DisplayModal3 = function (Id) {
		$.ajax({
			type: "GET",
			url: "/RegisteredUserOrganisations/MyOrgList",
			data: { Id: Id },
			success: function (response) {
				$("#AllschoolListModalbody").html(response);
				$("#AllschoolListModal").modal("show");
			}
		})
	}
</script>

