<?xml version="1.0" encoding="utf-8"?>

<!--
Copied from web.Live.config
 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

<connectionStrings>
	<add name="DefaultConnection" connectionString="Data Source=dertrix.cxnt9uan5cse.eu-west-2.rds.amazonaws.com;Initial Catalog=dertrix_live; uid=admin;pwd=dertrix2488;database=dertrix_live"
         xdt:Transform="SetAttributes" xdt:Locator="Match(name)"
         providerName="System.Data.SqlClient"/>
</connectionStrings>
</configuration>