


<!--
Copied from web.Config & web.Debug.config
 -->
<connectionStrings>
	<add name="DefaultConnection" connectionString="Data Source=(LocalDb)\MSSQLLocalDB;AttachDbFilename=C:\Users\wilso\source\repos\Zeus\App_Data\aspnet-Dertrix-20200613100912.mdf;Integrated Security=True" providerName="System.Data.SqlClient" />
</connectionStrings>






