@model IEnumerable<Dertrix.Models.OrgEvent>


<table class="table table-bordered table-responsive table-condensed table-hover">
	<tr style="font-family:Trebuchet MS, Tahoma, Arial; color:#666; font-size:11px; background-color:white; border-style: groove; border-left: none; border-right:none; ">
		<th>
			Upcoming Events
		</th>

	
		<th>
			Date
		</th>

	</tr>

	@foreach (var item in Model.OrderBy (i => i.EventDate))
	{
<tr>

	@if (item.EventDate >= DateTime.Today)
	{

	<td>
		<strong><u>@Html.DisplayFor(modelItem => item.EventName)</u></strong>
		<br/>
		@Html.DisplayFor(modelItem => item.EventDescription)

	</td>

		
		<td>
			@Html.DisplayFor(modelItem => item.EventDate)
		</td>
	}

</tr>
	}

</table>
