@model IEnumerable<Dertrix.Models.OrgImportantDate>


<table class="table table-bordered table-responsive table-condensed table-hover">
	<tr style="font-family:Trebuchet MS, Tahoma, Arial; color:#666; font-size:11px; background-color:white; border-style: groove; border-left: none; border-right:none; ">
		<th>
			Important Dates
		</th>

		<th>
			Date
		</th>
	</tr>

	@foreach (var item in Model.OrderBy(i => i.FromImportanttDate))
	{
<tr>


	@if (item.FromImportanttDate >= DateTime.Today)
	{
	<td>
		@Html.DisplayFor(modelItem => item.ImportantDateName)

	</td>
	<td>
		@Html.DisplayFor(modelItem => item.FromImportanttDate) | @Html.DisplayFor(modelItem => item.ToImportanttDate)
	</td>

	}

</tr>
	}

</table>
