<a href="#" class="RegUserOrgButtonColour" data-toggle="modal" data-target="#StuSubUp">
	Class sync
</a>
<div class="modal fade" id="StuSubUp">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<a href="#" class="close" data-dismiss="modal">&times;</a>
				<h3 class="modal-title">Update Subjects</h3>
			</div>
			<div class="modal-body">
				<form id="updatesubjects">
					<div>
						<div class="row">
							<div class="col-lg-12">
								<p>
									@*<b>Subject	Update </b>*@
								</p>
								<div class="form-inline">
								
									Class: &nbsp;&nbsp;
									<select class="" id="classid" name="classid">
										<option>Select Class</option>
										<option>1</option>
										<option>2</option>
										<option>3</option>
										<option>4</option>
										<option>5</option>
										<option>6</option>
									</select>
									&nbsp;&nbsp;
									<br /><br />
									<div class="modal-footer">
										<input type="reset" value="Cancel" class="RegUserOrgButtonColour" data-dismiss="modal" />
										<input type="submit" value="Submit" class="RegUserOrgButtonColour" id="stusubup" />
									</div>
								</div>
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>