<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<a href="#" class="RegUserOrgButtonColour" data-toggle="modal" data-target="#myUploadModal">
	<i class="fa fa-user-plus fa-2x" aria-hidden="true"></i>
	Upload Students
</a>
<div class="modal fade" id="myUploadModal">
	<div class="modal-body">
	
		@*<form id="UploadStudentForm">*@
			@using (Html.BeginForm("Uploader", "RegisteredUsers", FormMethod.Post, new { enctype = "multipart/form-data" }))
			{
		<div class="panel panel-body" @*style="min-height:56px"*@>
			<div class="col-md-9">
				<div class="col-md-10">
					<div class="RegUserOrgButtonColour">
						<input type="file" id="Avatar" name="postedFile" />
					</div>
				</div>
			</div>
			<br />
			<br />
			<br />
			<br />

			<div class="form-group">
				<div class="col-md-offset-2 col-md-10">
					<input type="submit" value="Submit" class="RegUserOrgButtonColour" /> &nbsp;
					<a href="#" class="RegUserOrgButtonColour" data-dismiss="modal">Cancel</a>

				</div>
			</div>
			@*<div class="modal-footer">
			<a href="#" class="RegUserOrgButtonColour" data-dismiss="modal">Cancel</a>
		</div>*@
		</div>
			}

		@*</form>*@
	

	</div>



</div>






