<head>
    @{
        ViewBag.Title = "System Config";
        var regUserOrgNavBar = Session["regOrgBrandButtonColour"].ToString();
    }
    <style>
		.der-body-content{
            border-color: @regUserOrgNavBar;
            border-style: double;
         }
    </style>
    <link href="~/Main/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
</head>
<div id="content" class="der-body-content der-clearfix">
    <br />
    <br />
    @Html.Partial("_Widget_SchStaff_Dashboard")
    <div>
        <hr />
		<div class="row">
			<div class="col-md-6">
				<p>@Html.ActionLink("Timetable", "ClassTimetables", "OrgClassPeriods", null, htmlAttributes: new { @class = "RegUserOrgButtonColour" })</p>
			</div>
			<div class="col-md-6">
				<p>
					@{
						Html.RenderAction("PopulateOrgPeriods", "OrgClassPeriods");
					}
				</p>
			</div>
		</div>
    </div>
    <hr />
    <br />

</div>


	@section Scripts {
		@Scripts.Render("~/bundles/jqueryval")
	}
<script src="~/Scripts/jquery-3.6.0.js"></script>
	<script>
		$("#stusubup").click(function () {
			var data = $("#updatesubjects").serialize();
			$.ajax({
				type: "POST",
				url: "/StudentSubjects/StudentUpdateSubject",
				data: data,
				success: function (response) {
					alert("Update in Progress");
					$("#StuSubUp").modal("hide");
					$("#updatesubjects")[0].reset();
					window.location.reload();
				}
			})
		})
	</script>

	<script>
        $("#btnSubmit44").click(function () {
                var data = $("#PopulateClassPeroiod").serialize();
                $.ajax({
					type: "POST",
					url: "/OrgClassPeriods/ProcessOrgPeriods",
                    @*url: '@Url.Action("ProcessOrgPeriods", "OrgClassPeriods")',*@
                    data: data,
                    success: function (response) {
                        alert("Update in progress");
                        $("#myUpdateModal").modal("hide");
                        $("#PopulateClassPeroiod")[0].reset();
                        window.location.reload();
                    }
                })
        })
	</script>




