<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <br />
    <table width="100%">
        <tr>
            <td style="background-color: white;">
                <span style="font-size:25px; color:white; margin:auto;">#OrganisationName#</span>
            </td>
        </tr>
        <tr>
            <!--<td style="background-color: white; border-style:solid; border-color:whitesmoke;">-->
                <td>
                #OrganisationName# has a portal where you can be kept up to date with your child's progress and communication from the school.
                <br />
                <br />

                The school is inviting you to register.
                <br />
                <br />

                Existing Guardian
                <br />
                <br />

                Please click <a href="http://www.dertrix.com/Access/KeyCheck">Here</a> to join.
                <br />
                <br />

                Alternatively, if you prefer to type the details manually, enter the following address into your browser:
                <br />
                <br />

                <a href="http://www.dertrix.com/Access/KeyCheck">  http://www.dertrix.com/Access/KeyCheck</a>
                <br />
            </td>
        </tr>
        <!--<tr>
            <td style="background-color: whitesmoke;">
                <p>You are receiving this email because you have subscribed, if you no longer wish to receive these messages, you can unsubscribe by changing your email preferences on your account </p>
            </td>
        </tr>-->
    </table>
</body>

</html>