<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <br />
    <table width="100%">
        <tr>
            <td style="background-color: var(--white)" ;>
                <span style="font-size:25px; color:white;">#OrganisationName#</span>
                <br />
                <i><span style="font-size:16px; color:white;">#Subject#</span></i>
                <br />
            </td>

        </tr>
        <tr>
            <td>
                #Body#
                <br />
                <i>
                    To view this message on the portal - please
                    <a href="http://www.dertrix.com">
                        Click here to Login
                    </a>
                </i>

                <br />
            </td>
        </tr>
        <tr>
            <td style="background-color: var(--white)">
                <br />
                <br />
            </td>
        </tr>
    </table>
</body>
</html>