<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <br />
    <table width="100%">
        <tr>
            <td style="background-color: white;">
                <span style="font-size:25px; color:white; margin:auto;">#OrganisationName#</span>
            </td>
        </tr>
        <tr>
            <td style="background-color: white; border-style:solid; border-color:whitesmoke;">
                <!--#Body#-->
                Your child's school has a portal where you can be kept up to date with your child's progress and communication from the school.
                <br />
                <br />

                The school is inviting you to register.
                <br />
                <br />

                Please click <a href="http://www.dertrix.com/Access/KeyCheck">Here</a> to join.
                <br />
                <br />

                Alternatively, if you prefer to type the details manually, enter the following address into your browser:
                <br />
                <br />
                Your invitation key is : InviteKey


                <a href="http://www.dertrix.com/Access/KeyCheck">  http://www.dertrix.com/Access/KeyCheck</a>
                <br />
                <br />

                You will be asked for a few details and then have immediate access to the portal.
                <br />
                <br />

            </td>
        </tr>
        <tr>
            <td style="background-color: whitesmoke;">
                <p>You are receiving this email because you have subscribed, if you no longer wish to receive these messages, you can unsubscribe by changing your email preferences on your account </p>
            </td>
        </tr>
    </table>
    <!--<footer>
        <p>You are receiving this email because you have subscribed, if you no longer wish to receive these messages, you can unsubscribe by changing your email preferences on your account </p>
    </footer>-->
</body>

</html>