<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
<style>
	.button {
		background-color: #1f0b0b;
		border-radius: 7px;
		display: inline-block;
		cursor: pointer;
		color: #ffffff !important;
		font-family: Verdana;
		font-size: 13px;
		padding: 16px 31px;
		text-decoration: none;
	}
	a:link{
		text-decoration: none;
	}
	a:visited {
		text-decoration: none;
	}
	a:hover {
		text-decoration: none;
	}
	a:active {
		text-decoration: none;
	}
</style>
</head>
<body>
    <br />
    <table width="100%">
        <tr>
            <td style="background-color: white;">
            </td>
        </tr>
        <tr>
			<td>
				This email has been sent to you because the "Forgotten Password" form was completed and sent.
				<br />
				To change your password, please click the button below or send an email to customerservice@dertrix.com if you have any concerns about this process.
				<br />
				<br />
				Live <a href="http://www.dertrix.com/ChangePassword/#DECRYPTEDKEY#" id="#DECRYPTEDKEY#" class="button">CHANGE PASSWORD</a>
				<br />
				<br />
				Local host <a href="https://localhost:44323/Access/ChangePassword/#DECRYPTEDKEY#" class="button">CHANGE PASSWORD</a>
				<br />
			</td>
        </tr>
    </table>
</body>
</html>