
@{
	Layout = null;
}

<!DOCTYPE html>

<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<title>Wrong Device</title>
</head>
<body>
	<div>
		<p>Unfortunately the pages on this application are not optimised for mobile devices, Please re-log in using a desktop or a laptop.</p>
		<hr/>
		<p>@Html.ActionLink("Log Off", "LogOut", "Access", "", new { @class = "btn btn-primary" })</p>

	</div>

</body>
</html>
